.breeze-annotation:not([style*="background-color:"]) {
  background: #ffe600 !important;
}

.breeze-annotation-hover:not([style*="background-color:"]) {
  background: #efdb00 !important;
}

#breeze-annotate-popover {
  display: none;
  border: 1px solid gray;
  padding: 4px;
  position: absolute;
  background: #FAFAFA;
  cursor: pointer;
  z-index: 1000000;

  &:hover {
    background: #DDD;
  }
}

#breeze-clear-annotation-popover {
  display: none;
  border: 1px solid gray;
  padding: 4px;
  position: absolute;
  background: #FAFAFA;
  cursor: pointer;
  z-index: 1000000;

  &:hover {
    background: #DDD;
  }
}
