.breeze-annotation:not([style*="background-color:"]) {
  background: #ffe600 !important;
}

.breeze-annotation-hover:not([style*="background-color:"]) {
  background: #efdb00 !important;
}

#breeze-annotate-popover {
  display: none;
  position: absolute;

}

#breeze-clear-annotation-popover {
  display: none;
  position: absolute;

}

.breeze-button {
  border: 1px solid gray;
  padding: 4px;
  background: #FAFAFA;
  cursor: pointer;
  z-index: 1000000;
  width: 32px;
  height: 32px;
  border-radius: 2px;

  &:hover {
    background: #EEE;
  }

  svg {
    width: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
